<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Height (cm)</ion-label>
      <ion-input type="number" [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Weight (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fitness Level</ion-label>
      <ion-select [(ngModel)]="fitnessLevel">
        <ion-select-option value="beginner">Beginner</ion-select-option>
        <ion-select-option value="intermediate">Intermediate</ion-select-option>
        <ion-select-option value="advanced">Advanced</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Goals</ion-label>
      <ion-select [(ngModel)]="goals" multiple="true">
        <ion-select-option value="lose weight">Lose weight</ion-select-option>
        <ion-select-option value="gain muscle">Gain muscle</ion-select-option>
        <ion-select-option value="improve cardio">Improve cardio</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="generateRoutine()">Generate Routine</ion-button>

  <ion-card *ngIf="routine">
    <ion-card-header>
      <ion-card-title>Routine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ routine }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mealPlan">
    <ion-card-header>
      <ion-card-title>Meal Plan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- {{ mealPlan }} -->
    </ion-card-content>
  </ion-card>
</ion-content>